/* @import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap'); */

body.modoNocturno{
  background-color: #222;
}

main {
    width: min(70em, 100%);
    margin: 2em auto;

}

.panel{
    border: 0.15em solid gray;
}

.datos{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.dato {
    flex: 1 1 12em;
    border: 1px solid gray;
}